
<%= render 'demo1s/header' %>

<h1 style= "text-align:center; margin-top:95px; ">Editing Data</h1>


<%= render partial: 'form', locals: { demo1:@demo1, form_method: :post, new:false } %>

<br>

<div style = "text-align:center;">
<%=link_to "Show this Data", @demo1, class:"btn btn-light", style:"border-radius: 0; border-color:black;"%>
   <br>
</div>
