
<%= render 'demo1s/header' %>
<h1 style= "text-align:center ;">Editing Data</h1>

<%= render "form", demo1: @demo1 %>

<br>

<div>
   <button class="large-button" style="margin: 0 auto; display: block;"> <%= link_to "Show this Data", @demo1 %> </button>
   <br>
</div>
