
<%= render 'demo1s/header' %>
<h1 style= "text-align:center ;">Editing Data</h1>

<%= render "form", demo1: @demo1 %>

<br>

<div style = "text-align:center;">
<%=link_to "Show this Data", @demo1, class:"btn btn-light", style:"border-radius: 0; border-color:black;"%>
   <br>
</div>
